.vanish {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: #F38630;
    border-radius: 5px;
}

.appear{
	height: 200px;
    width: 200px;
    display: inline-block;
    background-color: #F38630;
    border-radius: 5px;
}